.mentor-card {
  background-color: whitesmoke;
  height: 18rem;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-left: 1rem;
  margin-right: 1rem;
}

.mentor-card .mentor-card-img {
  width: 100%;
  height: 60%;
}

.mentor-card__details {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  height: calc(100% - 60% - 3rem);
}

.mentor-card .mentor-card__row1 {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  word-wrap: break-word;
  word-break: break-all;
  margin-top: 0.4rem;
}

.mentor-card .mentor-card__row2 {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  margin-top: 0.4rem;
}

.mentor-card .mentor-card__button {
  width: 100%;
  height: 2rem;
  cursor: pointer;
  font-size: 1rem;
  background-color: #ee4e34;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linkProfileBtn {
  text-decoration: none;
}
