* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'sans-serif';
}

.nav-container {
  max-width: 90%;
  margin: 0 auto;
  height: 50px;
  background-color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

nav .logo-section {
  display: flex;
  align-items: center;
}

nav .logo-section img {
  width: 2rem;
  height: 2rem;
}

nav .search-bar {
  margin-left: 1.4rem;
}

nav .search-bar {
  border: 1.5px solid #ee4e34;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: white;
}

nav input {
  border: none;
  min-width: 190px;
}

nav input:focus {
  outline: none;
}

nav .search-bar .search-icon:hover {
  cursor: pointer;
}

nav .search-icon {
  color: #ee4e34;
}
.nav-menu {
  display: flex;
  width: max-content;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav-menu li {
  list-style: none;
  cursor: pointer;
  font-weight: 600;
  color: #ee4e34;
  margin: 0 2rem;
}
.nav-menu li:hover {
  text-decoration: underline 0.1rem;
}
.nav-menu .nav-link {
  text-decoration: none;
}
