.mentor-form-container {
  background-color: #fcedda;
  width: calc(100vw);
  height: max-content;
  min-height: calc(100vh);
  padding: 2rem 0;
  padding-bottom: 10rem;
}

.mentor-form-main {
  background-color: white;
  width: 80vw;
  height: max-content;
  margin: 0 auto;
}

.mentor-form__section {
  padding: 2rem;
}

.mentor-form__section .section-heading {
  border-bottom: 1px solid black;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.mentor-form__section .group-fields {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.mentor-form__section .field-box {
  min-height: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.field-box .form-label {
  margin-bottom: 1rem;
  width: 100%;
}
.field-box .form-input {
  font-size: 17px;
  border: none;
  border-bottom: 2px solid #ee4e34;
  height: 2.5rem;
  width: 100%;
  background-color: whitesmoke;
  padding-left: 0.5rem;
}

.field-box .form-input:focus {
  outline: none;
}

.mentor-form-button-box {
  width: calc(80vw);
  height: max-content;
  margin: 3% auto;
}

.mentor-form-button-box button {
  width: 10rem;
  height: 2.8rem;
  margin: 1rem;
  border-radius: 10px;
  border: 3px solid white;
  color: white;
  background-color: #ee4e34;
  font-size: 16px;
  cursor: pointer;
}

@media (min-width: 800px) {
  .mentor-form-container {
    width: calc(98.5vw);
  }
  .mentor-form__section .field-box {
    .form-label {
      width: 30%;
    }
    .form-input {
      width: 50%;
    }
    margin-bottom: 1rem;
  }
}
