.mentors-list-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}
/* Extra small devices (phones, 350px and down) */
@media (min-width: 560px) {
  .mentors-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Mobile devices */
@media (min-width: 900px) {
  .mentors-list-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .mentors-list-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}
